/*Celulares medidas*/
@media screen and (min-width: 10px) and (max-width: 480px) {

    #indexbody{
        background-color: rgb(27, 27, 27);
    }

    #centername {
        font-size: 20px;
        padding-left: 200px;
        padding-right: 10px;
        padding-top: 200px;
    }

    #headerstarttext {
        position: relative;
        top: -769.50px;
        padding-left: 60px;
    }

    #headermyaccounttext {
        position: relative;
        top: -809.79px;
        padding-left: 180px;
    }

    #headerinformationtext{
        position: relative;
        top: -851px;
        padding-left: 325px;
        padding-right: 0px;
    }
}

/*Laptops y Computadoras medidas*/

@media screen and (min-width: 600px) and (max-width: 2000px) {

    #centername {
        font-size: 250px;
        padding-left: 800px;
        padding-right: 100px;
        padding-top: 120px;
    }

    #headerstarttext {
        position: relative;
        top: -769.50px;
        padding-left: 60px;
    }

    #headermyaccounttext {
        position: relative;
        top: -809.79px;
        padding-left: 180px;
    }

    #headerinformationtext{
        position: relative;
        top: -853px;
        padding-left: 350px;
        padding-right: 0px;
    }

    #headerstarttext2 {
        position: relative;
        top: 34px;
        padding-left: 60px;
    }

    #headermyaccounttext2 {
        position: relative;
        top: -9px;
        padding-left: 180px;
    }

    #headerinformationtext2 {
        position: relative;
        top: -50px;
        padding-left: 400px;
        padding-right: 0px;
    }
}
