#indexbody{
    background-color: black;
}

#informationbody{
    background-color: black;
}

#myaccountbody {
    background-color: black;
}

#h1header {
    color: white;
}

#headliststart {
    color: blue;
}

#headlistamyccount {
    color: blue;
}

#headlistinformation{
    color: blue;
}

#h4notaindex {
    color: white;
}

#paragraph1information {
    color: red;
}

#predessociales {
    color: red;
}